body {
    background-image: url(https://i.pinimg.com/564x/bc/4d/86/bc4d86d78f407cab596f599e52c2011c.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}
*{
    
    margin: 0;
    padding: 0;
    
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
nav{
    border: 0.2px solid white;
    width: 70vw;
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 6vh;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.265);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    padding: 3px;
    z-index: 1;
}
nav ion-icon{
    font-size: 2rem;
    color: white;
    padding: 5px;
    text-align: center;
    width: 60px;
    border-radius: 10px;
}
nav ion-icon:hover{
    background-color: white;
    color: black;
}
